@model UniversityManagementSystem.MVC.Models.CourseAssignTeacherViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div align="center">

                    @if (@ViewBag.Em != null)
                    {
                        <span class="alert alert-danger" id="denger-alert">@ViewBag.Em</span>
                    }
                </div>
                <div align="center">
                    @if (@ViewBag.Sm != null)
                    {
                        <span class="alert alert-success" id="success-alert">@ViewBag.Sm</span>
                    }
                </div>

                <div class="col-sm-5 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h2>Course Assign to Teacher</h2>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-pencil"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" action="" method="post" class="registration-form">

                            <div class="form-group">
                                @Html.DropDownListFor(c => c.DepartmentId, selectList: Model.DepartmentSelectListItems, optionLabel: "<---Select Department--->", htmlAttributes: new { @class = "form-control", id = "DId"})
                                @*<select type="text" name="remaining_date" class="form-last-name form-control" id="form-last-name">
                            <option value="">Department</option>
                            <option value="seasonalfish">CSE</option>
                            <option value="assortedmushrooms">EEE</option>
                            <option value="assortedmushrooms">BBA</option>
                        </select>*@
                            </div>

                            <div class="form-group">
                                @Html.DropDownListFor(c => c.TeacherId, selectList: Model.TeacherSelectListItems, optionLabel: "<-- Select Teacher -->", htmlAttributes: new { @class = "form-control", id = "TId" })
                                @*@Html.DropDownList("Teacher", new SelectList(ViewBag.tl, "Id", "Name"), "-- Select Teacher --")*@
                                @*<select type="text" name="remaining_date" class="form-last-name form-control" id="form-last-name">
            <option value="">Teacher</option>
            <option value="seasonalfish">CSE</option>
            <option value="assortedmushrooms">EEE</option>
            <option value="assortedmushrooms">BBA</option>
        </select>*@
                            </div>


                            <div class="form-group">
                                <label class="sr-only" for="form-Credit_to_be_taken">Credit to be taken</label>
                                <div style="border:2px; border-color:blue; ">
                                    <input type="text" name="form-Credit_to_be_taken" placeholder="Credit to be taken..." class="form-last-name form-control" id="CraditToBeTaken">
                                </div>
                            </div>
                            <div class="form-group form-row">
                                <label class="sr-only" for="form-remaining_credit">Remaining credit</label>
                                @*<input type="text" name="remaining_credit" placeholder="Remaining credit..." class="form-last-name form-control" id="form-last-name">*@
                                @Html.TextBox("remaining_credit", null, new { @class = "form-last-name form-control", id = "RemainingCradit", placeholder = "Remaining credit..." })
                            </div>

                            <div class="form-group">
                                @Html.DropDownListFor(c => c.Id, selectList: Model.CourseSelectListItems, optionLabel: "<-- Select Coure -->", htmlAttributes: new {@class = "form-control", id = "CId"})
                                @*<select type="text" name="remaining_date" class="form-last-name form-control" id="form-last-name">
                            <option value="">Course Code</option>
                            <option value="seasonalfish">CSE-301</option>
                            <option value="assortedmushrooms">EEE-205</option>
                            <option value="assortedmushrooms">BBA-112</option>
                        </select>*@
                            </div>


                            <div class="form-group">
                                <label class="sr-only" for="form-course_name">Name</label>
                                @*<input type="text" name="form-course_name" placeholder="Name..." class="form-last-name form-control" id="form-last-name">*@
                                @Html.TextBoxFor(c => c.Name, null, new { @class="form-control", Id ="CourseName", placeholder="Course Name"})
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-course_credit">Credit</label>
                                <input type="text" name="form-course_credit" placeholder="Credit..." class="form-last-name form-control" id="CourseCradit">
                            </div>

                            <button type="submit" class="btn">Ssave !</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Csses{
    <link href="~/theme/assets/css/form-elements.css" rel="stylesheet" />
    <link href="~/theme/assets/css/style.css" rel="stylesheet" />
}

@*@section Scripts{
    <script src="~/theme/assets/js/jquery-1.11.1.js"></script>
    <script src="~/theme/assets/js/jquery-1.11.1.min.js"></script>
    <script src="~/theme/assets/js/jquery.backstretch.js"></script>
    <script src="~/theme/assets/js/jquery.backstretch.min.js"></script>
    <script src="~/theme/assets/js/placeholder.js"></script>
    <script src="~/theme/assets/js/retina-1.1.0.js"></script>
    <script src="~/theme/assets/js/retina-1.1.0.min.js"></script>
    <script src="~/theme/assets/js/scripts.js"></script>
}*@

